{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block body %}

<div class="container" style="padding-top: 20px;">
    {% for quiz in quizzes %}
    {% if forloop.first %}<div class="card-group">{% endif %}
    <div class="card border-dark mb-3 hoverable shadow-lg" style="max-width: 16rem;">
    <div class="card-header text-center text-light bg-primary">
      <span class="fas fa-question-circle" style="font-size: 100px;"></span>
    </div>
    <div class="card-body text-dark">
    {% if user.is_authenticated and user.is_superuser %}
    <a class="badge badge-danger confirmation-needed"
       href="{% url 'delete_quiz' quiz.id %}">Delete this quiz</a>
    {% endif %}
      <h5 class="card-title">
          {% trans quiz.title %}
      </h5>
      <p class="card-text">{% trans quiz.description %}</p>
      <p class="card-text"><small class="text-muted">
          {% blocktrans with time=quiz.pubdate|timesince %}
          Published {{ time }} ago.</small>
          {% endblocktrans %}
      </p>
      <a class="btn btn-primary" href="{% url 'questionnaire' quiz.id %}">Show</a>
    </div>
    </div>
    {% if forloop.counter|divisibleby:4 %}</div><div class="card-group">{% endif %}
    {% if forloop.last %}</div>{% endif %}
    {% endfor %}

    {% if user.is_authenticated and user.is_superuser %}
    <form action="{% url 'new_quiz' %}" method="post">
        {% csrf_token %}
        <div class="card border-dark mb-3 shadow-sm" style="max-width: 16rem;">
        <div class="card-header text-center text-light bg-secondary">
          <span class="fas fa-plus" style="font-size: 100px;"></span>
        </div>
        <input type="text" name="title" class="form-control border-radius-0"
               placeholder="Title" aria-label="Title">
        <input type="text" name="description" class="form-control border-radius-0"
               placeholder="Description" aria-label="Description">
        <button type="submit" class="card-footer"><span class="fas fa-plus"></span> Create new Quiz</button>
        </div>
    </form>
    {% endif %}
</div>

{% endblock %}

{% block extrabody %}
{% if user.is_authenticated and user.is_superuser %}
<script>
$(".confirmation-needed").click(function(e) {
    if (!confirm("Do you really want to do this?")) {
        e.preventDefault();
    }
});
</script>
{% endif %}
{% endblock %}