{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load highlight %}
{% load multiply %}
{% load limit %}

{% block body %}

<div class="container rounded" style="background-color: #f8f8f8; margin-top: 20px; padding-top: 20px;">

    {% for quiz in quizzes %}
    {% if forloop.first %}<div class="card-group">{% endif %}
    <div class="card border-dark mb-3 hoverable shadow-lg" style="max-width: 18rem;">

    {% if quiz.image %}
    <img class="card-img-top card-header" style="padding: 0;" src="{{ quiz.image.url }}"
         style="max-height: 30rem; object-fit: contain;">
    {% else %}
    <div class="card-header text-center text-light bg-primary">
      <span class="fas fa-question-circle" style="font-size: 100px;"></span>
    </div>
    {% endif %}
    <div class="card-body text-dark">
      <h5 class="card-title">
          {% if search %}
          {{ quiz.title|highlight:search }}
          {% else %}
          {{ quiz.title }}
          {% endif %}
          <small class="text-black-50">(Quiz)</small>
      </h5>
      <p class="card-text">
          {% if search %}
          {{ quiz.description|highlight:search }}
          {% else %}
          {{ quiz.description }}
          {% endif %}
      </p>
    {% if quiz.textualquestion_set.count > 0 %}
        <span class="card-text badge badge-secondary">
          {{ quiz.textualquestion_set.count }} question{{ quiz.textualquestion_set.count|pluralize:"s" }}
        </span>
    {% endif %}
    {% for hashtag in quiz.hashtag_set %}
        <span class="card-text badge badge-secondary">
          {% if search %}
          {{ hashtag|highlight:search }}
          {% else %}
          {{ hashtag }}
          {% endif %}
        </span>
    {% endfor %}
      <p class="card-text">
        <small class="text-muted">
          {% blocktrans with time=quiz.pubdate|timesince %}
          Published {{ time }} ago.
          {% endblocktrans %}
        </small>
      </p>
      {% if quiz.textualquestion_set.count > 0 %}
        <a class="btn btn-outline-primary" href="{% url 'questionnaire' quiz.id %}">
            Show
        </a>
      {% else %}
        <button class="btn btn-outline-secondary" disabled>Coming soon</button>
      {% endif %}
        {% if user in quiz.likers %}
        <button class="btn btn-outline-secondary" disabled>
            <span class="fas fa-thumbs-up"></span> {{ quiz.likes.count }}
        </button>
        {% else %}
        <button id="like-quiz-{{ quiz.id }}"
                class="btn btn-outline-dark"
                {% if not user.is_authenticated %} disabled {% endif %}
                onclick="likeQuiz({{ quiz.id }}, '#like-quiz-{{ quiz.id }}', {{ quiz.likes.count }})">
            <span class="far fa-thumbs-up"></span> {{ quiz.likes.count }}
        </button>
        {% endif %}
    </div>
    </div>
    {% if forloop.counter|divisibleby:4 %}</div><div class="card-group">{% endif %}
    {% if forloop.last %}</div>{% endif %}
    {% endfor %}

    {% if quizzes.paginator %}
    <nav aria-label="Quiz pagination" style="padding-bottom: 5px;">
        <ul class="pagination">
            {% if quizzes.has_previous %}
                <li class="page-item"><a class="page-link" href="?quiz_page={{ quizzes.previous_page_number }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            {% endif %}

            <li class="page-item active"><span class="page-link" href="#">Page {{ quizzes.number }} of {{ quizzes.paginator.num_pages }}</span></li>

            {% if quizzes.has_next %}
                <li class="page-item text-dark"><a class="page-link" href="?quiz_page={{ quizzes.next_page_number }}">Next</a></li>
            {% else %}
                <li class="page-item text-dark disabled"><a class="page-link" href="?quiz_page={{ quizzes.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% if compilations %}


<div class="container pt-4 md-5 pt-md-5" style="padding-top: 20px; margin-top: 20px;">

    {% for compilation in compilations %}
    {% if forloop.first %}<div class="card-group">{% endif %}

    <div class="card border-dark mb-3 hoverable shadow-lg"
         style="max-width: 18rem;">

    <!-- Cool stacking effect :) -->
    {% for quiz in compilation.quiz_set.all %}
    <div class="card border-dark mb-3 hoverable shadow-lg"
         style="
             position: absolute;
             top: {{ -5|multiply:forloop.counter }}px;
             max-width: inherit;
             left: {{ -5|multiply:forloop.counter }}px;
             z-index: {{ forloop.counter|multiply:-1 }};
             height: 100%;
             width:  100%;
         "
    ></div>
    {% endfor %}

    {% if compilation.image %}
    <img class="card-img-top card-header" style="padding: 0;" src="{{ compilation.image.url }}"
         style="max-height: 30rem; object-fit: contain;">
    {% else %}
    <div class="card-header text-center text-light bg-primary">
      <span class="fas fa-layer-group" style="font-size: 100px;"></span>
    </div>
    {% endif %}
    <div class="card-body text-dark">
      <h5 class="card-title">
          {% if search %}
          {{ compilation.title|highlight:search }}
          {% else %}
          {{ compilation.title }}
          {% endif %}
          <small class="text-black-50">(Compilation)</small>
      </h5>
      <p class="card-text">
          {% if search %}
          {{ compilation.description|highlight:search }}
          {% else %}
          {{ compilation.description }}
          {% endif %}
      </p>
    {% if compilation.quiz_set.count > 0 %}
        <span class="card-text badge badge-secondary">
          {{ compilation.quiz_set.count }} quiz{{ compilation.quiz_set.count|pluralize:"zes" }}
        </span>
    {% endif %}
      <p class="card-text">
        <small class="text-muted">
          {% blocktrans with time=compilation.created_at|timesince %}
          Published {{ time }} ago.
          {% endblocktrans %}
        </small>
      </p>
      {% if compilation.quiz_set.count > 0 %}
        <a class="btn btn-outline-primary" href="{% url 'compilation' compilation.id %}">
            Show
        </a>
      {% else %}
        <button class="btn btn-outline-secondary" disabled>Coming soon</button>
      {% endif %}
      {% if user in compilation.likers %}
        <button class="btn btn-outline-secondary" disabled>
            <span class="fas fa-thumbs-up"></span> {{ compilation.likes.count }}
        </button>
        {% else %}
        <button id="like-compilation-{{ compilation.id }}"
                class="btn btn-outline-dark"
                {% if not user.is_authenticated %} disabled {% endif %}
                onclick="likeCompilation({{ compilation.id }}, '#like-compilation-{{ compilation.id }}', {{ compilation.likes.count }})">
            <span class="far fa-thumbs-up"></span> {{ compilation.likes.count }}
        </button>
      {% endif %}
    </div>

    </div>
    {% if forloop.counter|divisibleby:4 %}</div><div class="card-group">{% endif %}
    {% if forloop.last %}</div>{% endif %}
    {% endfor %}

    {% if compilations.paginator %}
    <nav aria-label="Compilation pagination" style="padding-bottom: 5px;">
        <ul class="pagination">
            {% if compilations.has_previous %}
                <li class="page-item"><a class="page-link" href="?compilation_page={{ compilations.previous_page_number }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            {% endif %}

            <li class="page-item active"><span class="page-link" href="#">Page {{ compilations.number }} of {{ compilations.paginator.num_pages }}</span></li>

            {% if compilations.has_next %}
                <li class="page-item text-dark"><a class="page-link" href="?compilation_page={{ compilations.next_page_number }}">Next</a></li>
            {% else %}
                <li class="page-item text-dark disabled"><a class="page-link" href="#">Next</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>

{% endif %}

{% endblock %}

{% block extrabody %}
{% if user.is_authenticated and user.is_superuser %}
<script>
$(".confirmation-needed").click(function(e) {
    if (!confirm("Do you really want to do this?")) {
        e.preventDefault();
    }
});
</script>
{% endif %}

{% if user.is_authenticated %}
<script>
function likeQuiz(quizId, elemId, numberOfLikes) {
    var data = {};
    data["quiz_id"] = quizId;
    $.ajax({
        url: "{% url 'like_quiz' %}",
        type: "post",
        data: data,
        headers: {"X-CSRFToken": "{{ csrf_token }}"},
        datatype: "json",
        success: function(response) {
            if (response.success === true) {
                $(elemId).html(
                    '<span class="fas fa-thumbs-up"></span> ' + (numberOfLikes + 1)
                );
            }
        }
    });
}

function likeCompilation(compilationId, elemId, numberOfLikes) {
    var data = {};
    data["compilation_id"] = compilationId;
    $.ajax({
        url: "{% url 'like_compilation' %}",
        type: "post",
        data: data,
        headers: {"X-CSRFToken": "{{ csrf_token }}"},
        datatype: "json",
        success: function(response) {
            if (response.success === true) {
                $(elemId).html(
                    '<span class="fas fa-thumbs-up"></span> ' + (numberOfLikes + 1)
                );
            }
        }
    });
}
</script>
{% endif %}
{% endblock %}