{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block body %}

<div class="container" style="padding-top: 20px;">
    {% for quiz in quizzes %}
    {% if forloop.first %}<div class="card-group">{% endif %}
    <div class="card border-dark mb-3 hoverable shadow-lg" style="max-width: 16rem;">

    {% if quiz.image %}
    <img class="card-img-top card-header" src="{{ quiz.image.url }}"
         style="max-height: 30rem; object-fit: contain;">
    {% else %}
    <div class="card-header text-center text-light bg-primary">
      <span class="fas fa-question-circle" style="font-size: 100px;"></span>
    </div>
    {% endif %}
    <div class="card-body text-dark">
    {% if user.is_authenticated and user.is_superuser %}
    <a class="badge badge-danger confirmation-needed"
       href="{% url 'delete_quiz' quiz.id %}">Delete this quiz</a>
    {% endif %}
      <h5 class="card-title">
          {% trans quiz.title %}
      </h5>
      <p class="card-text">{% trans quiz.description %}</p>
    {% if quiz.textualquestion_set.count > 0 %}
        <span class="card-text badge badge-secondary">
          {{ quiz.textualquestion_set.count }} question{{ quiz.textualquestion_set.count|pluralize:"s" }}
        </span>
    {% endif %}
      <p class="card-text">
        <small class="text-muted">
          {% blocktrans with time=quiz.pubdate|timesince %}
          Published {{ time }} ago.
          {% endblocktrans %}
        </small>
      </p>
      {% if quiz.textualquestion_set.count > 0 %}
        <a class="btn btn-outline-primary" href="{% url 'questionnaire' quiz.id %}">
            Show
        </a>
      {% else %}
        <btn class="btn btn-outline-secondary" disabled>Coming soon</btn>
      {% endif %}
    </div>
    </div>
    {% if forloop.counter|divisibleby:4 %}</div><div class="card-group">{% endif %}
    {% if forloop.last %}</div>{% endif %}
    {% endfor %}
</div>

{% endblock %}

{% block extrabody %}
{% if user.is_authenticated and user.is_superuser %}
<script>
$(".confirmation-needed").click(function(e) {
    if (!confirm("Do you really want to do this?")) {
        e.preventDefault();
    }
});
</script>
{% endif %}
{% endblock %}