{% extends "base.html" %}

{% load static %}
{% load markdown %}

{% block body %}

<div class="container" style="padding-top: 20px; padding-bottom: 100px;">

  {% for question in questions %}
  <div class="card border-dark">
    <div class="card-header" style="padding: 1rem;">{{ question.description|markdown }}</div>
    {% if question.description_image %}
    <img class="card-img-top card-header" src="{{ question.description_image.url }}"
         style="max-height: 30rem; object-fit: contain;">
    {% endif %}
    {% if question.multiplechoicequestion %}
    <div class="card-body">
        {% for choice in question.multiplechoicequestion.multiplechoiceoption_set.all %}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="check-{{ forloop.counter }}">
          <label class="form-check-label" for="check-{{ forloop.counter }}">
            {{ choice.option_description }}
          </label>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="card-body bg-light text-dark">
        <a class="btn btn-outline-primary float-right mb-3" data-toggle="collapse" href="#collapse-{{ forloop.counter }}"
           role="button" aria-expanded="false" aria-controls="collapse-{{ forloop.counter }}">
        <span class="fas fa-chevron-down"></span> Show Answer
      </a>
    </div>
    <div class="card-body bg-light text-dark">
      <div class="collapse" id="collapse-{{ forloop.counter }}">
        {% if question.multiplechoicequestion %}
            {% for choice in question.multiplechoicequestion.multiplechoiceoption_set.all %}
            <div class="form-check {% if choice.is_solution %}correct{% endif %}">
              <input class="form-check-input" type="checkbox" value="" id="check-{{ forloop.counter }}" {% if choice.is_solution %}checked{% endif %}>
              <label class="form-check-label" for="check-{{ forloop.counter }}">
                {{ choice.option_description }}
              </label>
            </div>
            {% endfor %}
        {% endif %}

        {% if question.textualquestion %}
            <p class="card-text">{{ question.textualquestion.solution|markdown }}</p>
        {% endif %}

        {% if question.solution_image %}
        <img class="card-img-top card-header" src="{{ question.solution_image.url }}"
             style="max-height: 30rem; object-fit: contain;">
        {% endif %}

      </div>
    </div>
    {% if question.textualquestion %}
    <div class="card-footer">
          <textarea class="rounded p-2 shadow-sm bg-light text-dark" id="solution-textarea-{{ question.id }}" style="width: 100%;" placeholder="Enter your proposed solution (BETA)."></textarea>
          <div class="progress mb-2 mt-1 bg-primary" style="height: 2.5rem; position: relative;">
              <button id="submit-solution-textarea-{{ question.id }}" class="btn btn-outline-light" style="position: absolute; right: 0; top: 0; width: 100%; height: 2.5rem;"
                 role="button" >
                <span class="fas fa-stethoscope"></span> Check proposed Solution <span id="solution-check-info-{{ question.id }}"></span>
              </button>
              <div    id="score-progress-bar-{{ question.id }}" class="progress-bar bg-success"
                      role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
              </div>
          </div>
    </div>
    {% endif %}
  </div>
  {% endfor %}

    {% if questions.paginator %}
    <nav aria-label="Question pagination" style="padding-bottom: 5px; margin-top: 20px;">
        <ul class="pagination">
            {% if questions.has_previous %}
                <li class="page-item"><a class="page-link" href="?question={{ questions.previous_page_number }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            {% endif %}

            <li class="page-item active"><span class="page-link" href="#">Question {{ questions.number }} of {{ questions.paginator.num_pages }}</span></li>

            {% if questions.has_next %}
                <li class="page-item text-dark"><a class="page-link" href="?question={{ questions.next_page_number }}">Next</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            {% endif %}

            <li class="page-item"><a class="page-link" href="?question={{ questions.paginator.random_page_number }}"><span class="fas fa-dice"></span> Random</a></li>
        </ul>
    </nav>


    {% endif %}

</div>


{% endblock %}

{% block extrabody %}

<script>
    $(document).ready(function() {
        {% for question in questions %}
        {% if question.textualquestion %}
        $("#submit-solution-textarea-{{ question.id }}").click(function() {
            var proposedText = $("#solution-textarea-{{ question.id }}").val();
            var targetText = `
                {{ question.textualquestion.solution }}
            `;
            window.scoreCallback(proposedText, targetText, function(response) {
                var bar = $("#score-progress-bar-{{ question.id }}");

                var score = response.percentage * 100 + "%";

                $("#solution-check-info-{{ question.id }}").html(
                    " - Achieved Score: " + score
                );

                var severity = "success";
                if (response.percentage < 0.2) {
                    severity = "danger";
                } else if (response.percentage < 0.4) {
                    severity = "warning";
                }

                bar.animate({
                    width: score
                }, 1000);

                bar.removeClass("bg-success");
                bar.removeClass("bg-danger");
                bar.removeClass("bg-warning");
                bar.addClass("bg-" + severity);

                bar.fadeIn();
                console.log(response);
            });
        });
        {% endif %}
        {% endfor %}
    });
</script>

{% endblock %}
