{% extends "base.html" %}

{% load staticfiles %}

{% block body %}

<div class="container" style="padding-top: 20px;">

    {% for question in questions %}
    <div class="card border-dark shadow-lg" style="margin-top: 20px;">
        <h5 class="card-header" style="padding: 1rem;">
            {{ question.description }}
        <a class="btn btn-outline-primary float-right" data-toggle="collapse" href="#collapse-{{ forloop.counter }}"
           role="button" aria-expanded="false" aria-controls="collapse-{{ forloop.counter }}">
            <span class="fas fa-chevron-down"></span>
        </a>
        </h5>
        <div class="bg-primary text-light">
          <div class="collapse" id="collapse-{{ forloop.counter }}">
            <p style="padding: 1rem;" class="card-text">{{ question.solution }}</p>
          </div>
        </div>
    </div>
    {% endfor %}

    {% if user.is_authenticated and user.is_superuser %}
    <form action="{% url 'new_question' quiz.id %}" method="post">
    {% csrf_token %}
    <div class="card border-dark shadow-lg" style="margin-top: 20px;">
        <input type="text" name="description" class="form-control border-radius-0 card-header"
           placeholder="Description" aria-label="Description">
        <input type="text" name="solution" class="form-control border-radius-0 card-body"
                        placeholder="Solution" aria-label="Solution">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="image">
          <label class="custom-file-label" for="image">Choose a descriptive Image...</label>
        </div>
        <button type="submit" class="card-footer"><span class="fas fa-plus"></span> Create new question</button>
    </div>
    </form>
    {% endif %}

</div>


{% endblock %}