{% extends "base.html" %}

{% load static %}

{% block body %}

<div class="container" style="padding-top: 20px; padding-bottom: 100px;">

  {% for question in questions %}
  <div class="card border-dark">
    {% if question.image %}
    <img class="card-img-top card-header" src="{{ question.image.url }}"
         style="max-height: 30rem; object-fit: contain;">
    {% endif %}
    <h5 class="card-header" style="padding: 1rem;">{{ question.description }}</h5>
    {% if question.multiplechoicequestion %}
    <div class="card-body">
            {% for choice in question.multiplechoicequestion.multiplechoiceoption_set.all %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="check-{{ forloop.counter }}">
              <label class="form-check-label" for="check-{{ forloop.counter }}">
                {{ choice.option_description }}
              </label>
            </div>
            {% endfor %}
    </div>
    {% endif %}
    <div class="card-body bg-light text-dark">
      <a class="btn btn-outline-primary " data-toggle="collapse" href="#collapse-{{ forloop.counter }}"
           role="button" aria-expanded="false" aria-controls="collapse-{{ forloop.counter }}">
        <span class="fas fa-chevron-down"></span> Show answer
      </a>
      <div class="collapse" id="collapse-{{ forloop.counter }}">
        <div style="height: 20px;"></div>

        {% if question.multiplechoicequestion %}
            {% for choice in question.multiplechoicequestion.multiplechoiceoption_set.all %}
            <div class="form-check {% if choice.is_solution %}correct{% endif %}">
              <input class="form-check-input" type="checkbox" value="" id="check-{{ forloop.counter }}" {% if choice.is_solution %}checked{% endif %}>
              <label class="form-check-label" for="check-{{ forloop.counter }}">
                {{ choice.option_description }}
              </label>
            </div>
            {% endfor %}
        {% endif %}

        {% if question.textualquestion %}
                <p class="card-text">{{ question.textualquestion.solution }}</p>
        {% endif %}

      </div>
    </div>
  </div>
  {% endfor %}

    {% if questions.paginator %}
    <nav aria-label="Question pagination" style="padding-bottom: 5px; margin-top: 20px;">
        <ul class="pagination">
            {% if questions.has_previous %}
                <li class="page-item"><a class="page-link" href="?question={{ questions.previous_page_number }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            {% endif %}

            <li class="page-item active"><span class="page-link" href="#">Question {{ questions.number }} of {{ questions.paginator.num_pages }}</span></li>

            {% if questions.has_next %}
                <li class="page-item text-dark"><a class="page-link" href="?question={{ questions.next_page_number }}">Next</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>


{% endblock %}